.header {
	padding: 5px 80px 25px;

	@media screen and (max-width: 1023px) {
		padding-left: 40px;
		padding-right: 40px;
		padding-bottom: 20px;
	}

	@media screen and (max-width: 767px) {
		padding: 0 15px;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 5px;

		@media screen and (max-width: 767px) {
			max-width: 450px;
			margin: 0 auto;
		}
	}
}
