.notice
	p.notice__text
		| Enjoy Free Shipping Worldwide, No Minimum Purchase

header.header
	.header__top
		include social

		a.logo(href="/")
			picture.img.img--logo
				source.img__item(srcset='img/logo.webp' type="image/webp")
				source.img__item(srcset='img/logo.jp2' type="image/jp2")
				img.img__item(src='img/logo.png' alt='logo')
					
		include control
		
	nav.nav
		ul.menu
		
			- const menuHeader = ["home", "skin concerns", "shop all", "results", "about us", "contacts"];
		
			each menuHeaderItem in menuHeader
				li.menu__item
					if (menuHeaderItem == 'skin concerns')
						a.menu__link.menu__link--submenu(href="#")=menuHeaderItem
					else
						a.menu__link(href="#")=menuHeaderItem
