nav.nav
	ul.menu
	
		- const menuHeader = ["home", "skin concerns", "shop all", "results", "about us", "contacts"];
	
		each menuHeaderItem in menuHeader
			li.menu__item.text.text--stand
				if (menuHeaderItem == 'skin concerns')
					a.menu__link.menu__link--submenu(href="#")=menuHeaderItem
				else
					a.menu__link(href="#")=menuHeaderItem
