ul.social
	
	- const socialHeader = ["fb", "tw", "insta"];
	
	each socialHeaderItem in socialHeader
		li.social__item
			a.social__link(href="#" target="_blank")
				svg.icon(class=`icon--${socialHeaderItem}`)
					use.icon__item(xlink:href=`#${socialHeaderItem}`)
