.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba($black, .5);
	box-shadow: 0 4px 40px rgba(75, 80, 81, .1);
	display: none;
	transition: transform .35s ease-in-out;
	z-index: 25;

	@media screen and (max-width: 767px) {
		display: block;
		transform: translateX(-100%);
	}

	&--active {
		transform: translateX(0);
	}
}
