.control {
	display: flex;
	align-items: center;
	padding-bottom: 5px;

	@media screen and (max-width: 767px) {
		padding-bottom: 0;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 30px;

			@media screen and (max-width: 1023px) {
				margin-right: 20px;
			}

			@media screen and (max-width: 767px) {
				margin-right: 0;
			}
		}

		&--loupe,
		&--login {
			@media screen and (max-width: 767px) {
				display: none;
			}
		}
	}

	&__link {
		display: flex;

		&--loupe {
			&:hover {
				.icon {
					fill: $red;
				}
			}
		}

		&--basket {
			position: relative;
			padding-right: 10px;

			&:hover {
				.icon {
					fill: $dimTurquoise;
				}
			}
		}

		&--login {
			&:hover {
				.icon {
					fill: $gold;
				}
			}
		}

		&:hover {
			.icon {
				transform: scale(1.1);
			}
		}
	}

	&__count {
		position: absolute;
		top: -12px;
		right: -2px;
		color: $gray;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		background: $gold;
		display: flex;
		justify-content: center;
		align-items: center;

		@media screen and (max-width: 767px) {
			top: -9px;
			right: 1px;
			width: 16px;
			height: 16px;
		}
	}
}
