.icon {
	fill: $black;
	transition: transform .25s ease-in-out, fill .25s ease-in-out;

	&--fb {
		width: 11px;
		height: 24px;
	}

	&--tw {
		width: 23px;
		height: 20px;
	}

	&--insta {
		width: 21px;
		height: 20px;
	}

	&--loupe {
		width: 25px;
		height: 22px;
	}

	&--basket {
		width: 30px;
		height: 25px;

		@media screen and (max-width: 767px) {
			width: 18px;
			height: 16px;
		}
	}

	&--login {
		width: 18px;
		height: 20px;
	}

	&--burger {
		width: 14px;
		height: 14px;
	}

	&--close {
		width: 10px;
		height: 10px;
		stroke: rgba($black, .8);
	}
}
