.input {
	width: 100%;

	&--burger {
		border: 1px solid $gray;
		padding: 20px;
		text-transform: capitalize;
		@include placeholder(13px/16px $ArialRegular, rgba($black, .5));

		@media screen and (max-width: 359px) {
			padding: 15px;
		}
	}
}
