.menu {
	display: flex;

	&__item {
		&:not(:last-child) {
			margin-right: 40px;

			@media screen and (max-width: 1023px) {
				margin-right: 30px;
			}
		}
	}

	&__link {
		color: $black;
		text-transform: uppercase;

		&--submenu {
			padding-right: 15px;
		}
	}
}
