.social {
	display: flex;
	text-align-last: center;
	padding-bottom: 5px;

	@media screen and (max-width: 767px) {
		display: none;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 30px;

			@media screen and (max-width: 1023px) {
				margin-right: 20px;
			}
		}
	}

	&__link {
		display: flex;

		&--fb {
			&:hover {
				.icon {
					fill: $darkBlue;
				}
			}
		}

		&--tw {
			&:hover {
				.icon {
					fill: $lightBlue;
				}
			}
		}

		&--insta {
			&:hover {
				.icon {
					fill: url(#instaGrad);
				}
			}
		}

		&:hover {
			.icon {
				transform: scale(1.1);
			}
		}
	}
}
