
<div class="background"></div>
<div class="burger">
  <div class="burger__wrap">
    <header class="burger__header">
      <form class="form form--burger" action="#" method="GET">
        <input class="input input--burger" type="search" placeholder="search" aria-label="burger-search"/>
      </form><a class="btn btn--close" href="#">
        <svg class="icon icon--close">
          <use class="icon__item" xlink:href="#close"></use>
        </svg></a>
    </header>
    <nav class="nav nav--burger">
      <ul class="menu">
        <li class="menu__item menu__item--main"><a class="menu__link text text--stand" href="#">home</a></li>
        <li class="menu__item menu__item--main menu__item--main-sub"><a class="menu__link menu__link--submenu text text--stand" href="#">skin concerns</a>
          <ul class="menu__submenu">
            <li class="menu__item menu__item--sub"><a class="menu__link menu__link--sub text text--stand" href="#">submenu-1</a></li>
            <li class="menu__item menu__item--sub"><a class="menu__link menu__link--sub text text--stand" href="#">submenu-2</a></li>
            <li class="menu__item menu__item--sub"><a class="menu__link menu__link--sub text text--stand" href="#">submenu-3</a></li>
            <li class="menu__item menu__item--sub"><a class="menu__link menu__link--sub text text--stand" href="#">submenu-4</a></li>
          </ul>
        </li>
        <li class="menu__item menu__item--main"><a class="menu__link text text--stand" href="#">shop all</a></li>
        <li class="menu__item menu__item--main"><a class="menu__link text text--stand" href="#">results</a></li>
        <li class="menu__item menu__item--main"><a class="menu__link text text--stand" href="#">about us</a></li>
        <li class="menu__item menu__item--main"><a class="menu__link text text--stand" href="#">contacts</a></li>
        <li class="menu__item menu__item--main"><a class="menu__link text text--stand" href="#">log in</a></li>
        <li class="menu__item menu__item--main"><a class="menu__link text text--stand" href="#">create account</a></li>
      </ul>
    </nav>
    <ul class="social social--burger">
      <li class="social__item"><a class="social__link social__link--fb" href="#" target="_blank">
          <svg class="icon icon--fb">
            <use class="icon__item" xlink:href="#fb"></use>
          </svg></a></li>
      <li class="social__item"><a class="social__link social__link--tw" href="#" target="_blank">
          <svg class="icon icon--tw">
            <use class="icon__item" xlink:href="#tw"></use>
          </svg></a></li>
      <li class="social__item"><a class="social__link social__link--insta" href="#" target="_blank">
          <svg class="icon icon--insta">
            <use class="icon__item" xlink:href="#insta"></use>
          </svg></a></li>
    </ul>
  </div>
</div>