
<ul class="control">
  <li class="control__item"><a class="control__link" href="#">
      <svg class="icon icon--loupe">
        <use class="icon__item" xlink:href="#loupe"></use>
      </svg></a>
  </li>
  <li class="control__item"><a class="control__link control__link--basket" href="#">
      <svg class="icon icon--basket">
        <use class="icon__item" xlink:href="#basket"></use>
      </svg><small class="control__count">0</small></a>
  </li>
  <li class="control__item"><a class="control__link" href="#">
      <svg class="icon icon--login">
        <use class="icon__item" xlink:href="#login"></use>
      </svg></a>
  </li>
</ul>