
<div class="notice">
  <div class="container">
    <p class="notice__text text text--std-to-small">Enjoy Free Shipping Worldwide, No Minimum Purchase</p>
  </div>
</div>
<header class="header">
  <div class="container">
    <div class="header__top">
      <ul class="social social--main">
        <li class="social__item"><a class="social__link social__link--fb" href="#" target="_blank">
            <svg class="icon icon--fb">
              <use class="icon__item" xlink:href="#fb"></use>
            </svg></a></li>
        <li class="social__item"><a class="social__link social__link--tw" href="#" target="_blank">
            <svg class="icon icon--tw">
              <use class="icon__item" xlink:href="#tw"></use>
            </svg></a></li>
        <li class="social__item"><a class="social__link social__link--insta" href="#" target="_blank">
            <svg class="icon icon--insta">
              <use class="icon__item" xlink:href="#insta"></use>
            </svg></a></li>
      </ul><a class="btn btn--burger" href="#">
        <svg class="icon icon--burger">
          <use class="icon__item" xlink:href="#burger"></use>
        </svg></a><a class="logo" href="/">
        <picture class="img img--logo">
          <source class="img__item" srcset="img/logo.webp" type="image/webp"/>
          <source class="img__item" srcset="img/logo.jp2" type="image/jp2"/><img class="img__item" src="img/logo.png" alt="logo"/>
        </picture></a>
      <ul class="control">
        <li class="control__item control__item--loupe"><a class="control__link control__link--loupe" href="#">
            <svg class="icon icon--loupe">
              <use class="icon__item" xlink:href="#loupe"></use>
            </svg></a>
        </li>
        <li class="control__item control__item--basket"><a class="control__link control__link--basket" href="#">
            <svg class="icon icon--basket">
              <use class="icon__item" xlink:href="#basket"></use>
            </svg><small class="control__count text text--std-to-small">0</small></a>
        </li>
        <li class="control__item control__item--login"><a class="control__link control__link--login" href="#">
            <svg class="icon icon--login">
              <use class="icon__item" xlink:href="#login"></use>
            </svg></a>
        </li>
      </ul>
    </div>
    <nav class="nav nav--main">
      <ul class="menu">
        <li class="menu__item text text--stand"><a class="menu__link" href="#">home</a>
        </li>
        <li class="menu__item text text--stand"><a class="menu__link menu__link--submenu" href="#">skin concerns</a>
        </li>
        <li class="menu__item text text--stand"><a class="menu__link" href="#">shop all</a>
        </li>
        <li class="menu__item text text--stand"><a class="menu__link" href="#">results</a>
        </li>
        <li class="menu__item text text--stand"><a class="menu__link" href="#">about us</a>
        </li>
        <li class="menu__item text text--stand"><a class="menu__link" href="#">contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>