
<nav class="nav">
  <ul class="menu">
    <li class="menu__item text text--stand"><a class="menu__link" href="#">home</a>
    </li>
    <li class="menu__item text text--stand"><a class="menu__link menu__link--submenu" href="#">skin concerns</a>
    </li>
    <li class="menu__item text text--stand"><a class="menu__link" href="#">shop all</a>
    </li>
    <li class="menu__item text text--stand"><a class="menu__link" href="#">results</a>
    </li>
    <li class="menu__item text text--stand"><a class="menu__link" href="#">about us</a>
    </li>
    <li class="menu__item text text--stand"><a class="menu__link" href="#">contacts</a>
    </li>
  </ul>
</nav>